<div class="information-blocks" style="min-height:400px">
    <h1>Promo Tekstil - O nama</h1>

    <div style="min-height:400px">
        <ng-include ng-if="config.language.code=='hr'" src="'tpl_hr'"></ng-include>
        <ng-include ng-if="config.language.code=='en'" src="'tpl_en'"></ng-include>
    </div>

</div>

<script type="text/ng-template" id="tpl_en">
    <div class="information-blocks">
        <img class="project-thumbnail" src="img/about-1.jpg" alt="" />
        <div class="row">
            <div class="col-md-4 information-entry">
                <div class="article-container style-1">
                    <h2>Promo Tekstil - distribution, wholesale and retail of textile goods</h2>
                    <p>
                        Promo-tekstil is a company that specializes in distribution, wholesale and retail of products in textile industry. Our goal is to meet the needs of our customers at the highest standard of quality, with a wide variety of own stock, competitive prices, fast and flexible customer service and many additional services. We designed our showroom, warehouse and system to be able to provide the fastest possible service. Our products are deliverable within 48 hours upon ordering. A fast and customer friendly ordering is provided through our online webstore or trough our sales representatives. Through flexible relations with our costumers, meeting their needs, our goal is to ashieve thrust and long term partnership. Promo-tekstil has a vision to become one of the leading wholesale and retail companies relying on various recognizable brands.
                    </p>
                </div>
            </div>
            <div class="col-md-4 information-entry">
                <h3 class="block-title">Why Promo Tekstil?</h3>
                <div class="article-container style-1">
                    <h5><i class="fa fa-calculator"></i>Unbeatable prices</h5>
                    <p>Rich offerings with the most competitive prices</p>
                </div>
                <div class="article-container style-1">
                    <h5><i class="fa fa-scissors"></i> Tailored to suit your needs</h5>
                    <p>We're listening to our customers and we're constantly improving our quality</p>
                </div>
                <div class="article-container style-1">
                    <h5><i class="fa fa-desktop"></i>Advanced order system</h5>
                    <p>We're proud to say that we have one of the most advanced IT order placement systems on the market</p>
                </div>
                <div class="article-container style-1">
                    <h5><i class="fa fa-truck"></i>Fast delivery</h5>
                    <p>Once your order has been confirmed we offer automatic delivery right to your door</p>
                </div>
            </div>
            <div class="col-md-4 information-entry">
                <div class="article-container style-1">
                    <img src="/assets/img/test_image_placeholder.png" class="img-responsive m10" alt="Promo Tekstil" />
                    <h5>Company info</h5>
                    <p>
                        Company name: {{companyInfo.company}}<br />
                        Address: {{companyInfo.address}}, {{companyInfo.city}}, {{companyInfo.zipCode}} {{companyInfo.country}}<br />
                        VAT: HR{{companyInfo.pin}}<br />
                    </p>
                    <h5>Contact</h5>
                    <p>
                        Email: {{companyInfo.email}}<br />
                        <span ng-if="companyInfo.phone">Phone: {{companyInfo.phone}}</span>
                    </p>
                </div>
            </div>
        </div>
    </div>
</script>

<script type="text/ng-template" id="tpl_hr">
    <div class="information-blocks">
        <img class="project-thumbnail" src="img/about-1.jpg" alt="" />
        <div class="row">
            <div class="col-md-4 information-entry">
                <div class="article-container style-1">
                    <h2>Promo Tekstil - distribucija i prodaja tekstilnih proizvoda</h2>
                    <p>
                        Promo-tekstil je poduzeće koje se već niz godina bavi distribucijom i prodajom proizvoda iz tekstilne industrije. Naš je cilj zadovoljiti potrebe kupaca s bogatom ponudom proizvoda u tekstilnoj industriji s najvišim standardima kvalitete, konkurentnim cijenama te brzom i fleksibilnom uslugom.
                        Organizirali smo svoje poslovanje i skladište tako da omogućimo najbržu moguću isporuku proizvoda našim kupcima. Naši proizvodi se isporučuju unutar 48 sati od potvrđene narudžbe na željenu adresu. Narudžbe možete vršiti online ili kontaktom našim prodajnih zastupnika.
                        Kroz fleksibilne odnose sa kupcima težimo ostvariti povjerenje i dugoročna partnerstva. Promo-tekstil ima viziju postati jednim od vodećih poduzeća u distribuciji i prodaji tekstila oslanjajući se na mnoštvo prepoznatljivih brendova.
                    </p>
                </div>
            </div>
            <div class="col-md-4 information-entry">
                <h3 class="block-title">Zašto Promo Tekstil?</h3>
                <div class="article-container style-1">
                    <h5><i class="fa fa-calculator"></i> Najpovoljnije cijene</h5>
                    <p>Bogata ponuda uz najpovoljnije cijene u regiji</p>
                </div>
                <div class="article-container style-1">
                    <h5><i class="fa fa-scissors"></i>Krojeno po vašoj mjeri</h5>
                    <p>Slušamo vaše prijedloge i komentare i konstantno unaprjeđujemo našu kvalitetu</p>
                </div>
                <div class="article-container style-1">
                    <h5><i class="fa fa-desktop"></i>Napredan sustav naručivanja</h5>
                    <p>Naš napredan online sustav naručivanja omogućuje efikasno naručivanje i praćenje statusa vaših narudžbi</p>
                </div>
                <div class="article-container style-1">
                    <h5><i class="fa fa-truck"></i>Brza dostava</h5>
                    <p>Jednom potvrđena narudžba automatski kreće u isporuku u suradnji sa brzom dostavnom službom</p>
                </div>
            </div>
            <div class="col-md-4 information-entry">
                <div class="article-container style-1">
                    <img src="/assets/img/test_image_placeholder.png" class="img-responsive m10" alt="Promo Tekstil" />
                    <h5>Informacije o tvrtci</h5>
                    <p>
                        Naziv tvrtke: {{companyInfo.company}}<br />
                        Adresa: {{companyInfo.address}}, {{companyInfo.city}}, {{companyInfo.zipCode}} {{companyInfo.country}}<br />
                        OIB: {{companyInfo.pin}}<br />
                    </p>
                    <h5>Kontakt</h5>
                    <p>
                        Email: {{companyInfo.email}}<br />
                        <span ng-if="companyInfo.phone">Telefon: {{companyInfo.phone}}</span>
                    </p>
                </div>
            </div>
        </div>
    </div>
</script>