<div class="footer-wrapper style-17">
    <footer class="type-1">
        <div class="footer-columns-entry">
            <div class="row">
                <div class="col-md-3">
                    <img class="footer-logo" src="assets/img/promo-tekstil-lower-logo-svg.svg" alt="Najpovoljnije cijene tekstilnih proizvoda na hrvatkom tržištu. Opširan katalog najpoznatijih svjetskih brendova" />
                    <div class="footer-description">Najpovoljnije cijene tekstilnih proizvoda na hrvatkom tržištu. Opširan katalog najpoznatijih svjetskih brendova</div>
                    <div class="footer-address">
                        {{config.name}}<br />
                        {{userData.company}}<br />
                        Email: <a href="mailto:{{userData.email}}">{{userData.email}}</a><br />
                        <a href="https://www.{{config.appname}}"><b>www.{{config.appname}}</b></a><br />
                        OIB: {{userData.pin}}
                    </div>
                    <div class="clear"></div>
                </div>
                <div class="col-md-2 col-sm-4">
                    <h3 class="column-title text-capitalize">{{'company' | translate}}</h3>
                    <ul class="column">
                        <li><a href="info.html">{{'info1' | translate}}</a></li>
                        <li><a href="about-us.html">{{'about us' | translate}}</a></li>
                        <li><a href="printing.html">{{'printing' | translate}}</a></li>
                        <li><a href="contact-us.html">{{'contact us' | translate}}</a></li>
                        <li><a href="loyalty-program.html">{{'loyalty program' | translate}}</a></li>
                        <li><a href="terms-of-service.html">{{'terms of service' | translate}}</a></li>
                        <li><a href="index.html">{{'webshop' | translate}}</a></li>
                    </ul>
                    <div class="clear"></div>
                </div>
                <div class="col-md-2 col-sm-4">
                    <h3 class="column-title">{{'products' | translate}}</h3>
                    <ul class="column">
                        <li><a href="index.html?category:T-Shirt">{{'T-shirt' | translate}}</a></li>
                        <li><a href="index.html?category:Sweatshirt">{{'Sweatshirt' | translate}}</a></li>
                        <li><a href="index.html?category:Poloshirt">{{'Poloshirt' | translate}}</a></li>
                        <li><a href="index.html?category:Jacket">{{'Jacket' | translate}}</a></li>
                        <li><a href="index.html?category:Kid">{{'Kid' | translate}}</a></li>
                        <li><a href="index.html?category:PolarAndSoftshell">{{'Polar and Softshell' | translate}}</a></li>
                        <li><a href="index.html">{{'all products' | translate}}</a></li>
                    </ul>
                    <div class="clear"></div>
                </div>
                <div class="col-md-2 col-sm-4">
                    <h3 class="column-title">{{'categories' | translate}}</h3>
                    <ul class="column">
                        <li><a href="index.html?isnew:1">{{'2018 collection' | translate}}</a></li>
                        <li><a href="index.html?outlet:1">{{'sale outlet' | translate}}</a></li>
                        <li><a href="index.html?gender:UnisexClothing">{{'unisex clothing' | translate}}</a></li>
                        <li><a href="index.html?gender:MensClothing">{{'mens clothing' | translate}}</a></li>
                        <li><a href="index.html?gender:WomensClothing">{{'womens clothing' | translate}}</a></li>
                        <li><a href="index.html?gender:ChildrensClothing">{{'Kid' | translate}}</a></li>
                        <li><a href="index.html">{{'all categories' | translate}}</a></li>
                    </ul>
                    <div class="clear"></div>
                </div>
                <div class="clearfix visible-sm-block"></div>
                <div class="col-md-3">
                    <h3 class="column-title">{{'working hours' | translate}}</h3>
                    <div class="footer-description">{{'working hours decription' | translate}}</div>
                    <div class="footer-description">
                        <b>{{'mon-fri' | translate}}:</b> 8:30h - 17:30h<br />
                        <b>{{'sat' | translate}}:</b> 09:00h - 13:00h<br />
                        <b>{{'sun' | translate}}:</b> {{'closed' | translate}}
                    </div>
                    <div class="clear"></div>
                </div>
            </div>
        </div>
        <div class="footer-bottom-navigation">
            <div class="cell-view">
                <div class="footer-links">
                    <a href="info.html">{{'info1' | translate}}</a>
                    <a href="about-us.html">{{'about us' | translate}}</a>
                    <a href="printing.html">{{'printing' | translate}}</a>
                    <a href="contact-us.html">{{'contact us' | translate}}</a>
                    <a href="loyalty-program.html">{{'loyalty program' | translate}}</a>
                    <a href="terms-of-service.html">{{'terms of service' | translate}}</a>
                    <a href="index.html">{{'webshop' | translate}}</a>
                </div>
                <div class="copyright">{{'created with' | translate}} <i class="fa fa-heart" aria-hidden="true"></i> {{'by' | translate}} <a href="https://www.igprog.hr">IG PROG</a> {{'and' | translate}} <a href="https://www.studio-lateralus.hr">LATERALUS J.D.O.O.</a> {{'all rights reserved' | translate}}</div>
            </div>
            <div class="cell-view">
                <div class="payment-methods">
                    <a href="https://www.megamajice.com" target="_blank"><img src="assets/img/mega_majice_footer.svg" alt="Mega Majice - Stručnjaci za majice" /></a>
                </div>
            </div>
        </div>
    </footer>
</div>

<!--<script src="../assets/js/vendor/global.js"></script>-->
