<div class="header-wrapper style-17" ng-controller="headerCtrl">
    <header class="type-1">
        <div class="header-top">
            <div class="header-top-entry">
                <div class="title"><img src="assets/img/{{config.language.code}}.svg" alt="" />{{config.language.title}}<i class="fa fa-caret-down"></i></div>
                <div class="list">
                    <a href="" class="list-entry" ng-repeat="x in config.languages" ng-click="setLanguage(x)"><img src="assets/img/{{x.code}}.svg" alt="" />{{x.title}}</a>
                </div>
            </div>
            <div class="header-top-entry">
                <div class="title"><b>{{'currency' | translate}}</b> <span ng-if="config.currency.symbol!=''">{{config.currency.symbol}}</span> <span class="text-uppercase">{{config.currency.code}}</span><i class="fa fa-caret-down"></i></div>
                <div class="list">
                    <a href="" class="list-entry" ng-repeat="x in config.currencies" ng-click="setCurrency(x)"><span class="text-uppercase"><span ng-if="x.symbol">{{x.symbol}}</span> {{x.code}}</span></a>
                </div>
            </div>
            <div ng-if="companyInfo.phone" class="header-top-entry hidden-xs">
                <div class="title"><i class="fa fa-phone"></i>{{'any question? call us' | translate}}<a href="tel:{{companyInfo.phone}}"><b>{{companyInfo.phone}}</b></a></div>
            </div>
            <div class="socials-box">
                <a href=""><img src="assets/img/various/facebook-icon-promo-tekstil.svg" /></a>
            </div>
            <div class="menu-button responsive-menu-toggle-class"><i class="fa fa-reorder"></i></div>
            <div class="clear"></div>
        </div>
        <div class="header-middle">
            <div class="logo-wrapper">
                <a id="logo" href="index.html"><img src="assets/img/{{config.logo}}" alt="Promo Tekstil" /></a>
            </div>
            <div class="right-entries">
                <a class="header-functionality-entry" href="cart.html" title="{{'basket' | translate}}">
                    <i class="fa fa-shopping-cart"></i><sup ng-if="priceTotal.net>0" class="badge" style="position:relative; top:-10px;">{{groupingCart.length}}</sup><span class="text-capitalize"> {{'basket' | translate}}</span>
                    <b ng-if="priceTotal.net>0"><span ng-if="config.currency.symbol!=''">{{config.currency.symbol}}</span><span ng-if="config.currency.symbol==''" class="text-uppercase">{{config.currency.code}}</span> {{priceTotal.net * config.currency.course | number:2}}</b>
                </a>
            </div>

        </div>

        <div class="close-header-layer"></div>
        <div class="navigation">
            <div class="navigation-header responsive-menu-toggle-class">
                <div class="title text-uppercase">{{'navigation' | translate}}</div>
                <div class="close-menu"></div>
            </div>
            <div class="nav-overflow">
                <nav>
                    <ul>
                        <li class="full-width">
                            <a href="index.html" class="active text-uppercase">{{'home' | translate}}</a>
                        </li>
                        <li class="column-1">
                            <a href="#" class="text-uppercase">{{'brands' | translate}}</a><i class="fa fa-chevron-down"></i>
                            <div class="submenu">
                                <div class="full-width-menu-items-left">
                                    <img class="submenu-background" src="assets/img/various/menu-logo-brands.jpg" alt="" />
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="submenu-list-title"><a href="index.html?brand=all">{{'all brands' | translate}}</a><span class="toggle-list-button"></span></div>
                                            <ul class="list-type-1 toggle-list-container" style="display:block">
                                                <li><a href="index.html?brand=Gildan"><i class="fa fa-angle-right"></i>Gildan</a></li>
                                                <li><a href="index.html?brand=K-UP"><i class="fa fa-angle-right"></i>K-UP</a></li>
                                                <li><a href="index.html?brand=Kariban"><i class="fa fa-angle-right"></i>Kariban</a></li>
                                                <li><a href="index.html?brand=Anvil"><i class="fa fa-angle-right"></i>Anvil</a></li>
                                                <li><a href="index.html?brand=Proact"><i class="fa fa-angle-right"></i>Proact</a></li>
                                                <li><a href="index.html?brand=Regatta"><i class="fa fa-angle-right"></i>Regatta</a></li>
                                                <li><a href="index.html?brand=SOLS"><i class="fa fa-angle-right"></i>SOL'S</a></li>
                                                <li><a href="index.html?brand=Kimood"><i class="fa fa-angle-right"></i>Kimood</a></li>
                                                <li><a href="index.html?brand=Premier"><i class="fa fa-angle-right"></i>Premier</a></li>
                                                <li><a href="index.html?brand=AllWeDois"><i class="fa fa-angle-right"></i>All We Do is</a></li>
                                                <li><a href="index.html?brand=AsquithAndFox"><i class="fa fa-angle-right"></i>Asquith & Fox</a></li>
                                                <li><a href="index.html?brand=AmericanApparel"><i class="fa fa-angle-right"></i>American Apparel</a></li>
                                                <li><a href="index.html?brand=Beardream"><i class="fa fa-angle-right"></i>Beardream</a></li>
                                                <li><a href="index.html?brand=JustHoods"><i class="fa fa-angle-right"></i>Just Hoods</a></li>
                                                <li><a href="index.html?brand=ComfortColors"><i class="fa fa-angle-right"></i>Comfort Colors</a></li>
                                                <!--<li><a href="index.html?brand:Olima"><i class="fa fa-angle-right"></i>Olima</a></li>
                                                <li><a href="index.html?brand:AsquithAndFox"><i class="fa fa-angle-right"></i>Asquith & Fox</a></li>
                                                <li><a href="index.html?brand:TriDri"><i class="fa fa-angle-right"></i>TriDri</a></li>
                                                <li><a href="index.html?brand:Vesti"><i class="fa fa-angle-right"></i>Vesti</a></li>
                                                <li><a href="index.html?brand:UBClassics"><i class="fa fa-angle-right"></i>UBClassics</a></li>
                                                <li><a href="index.html?brand:TriDri"><i class="fa fa-angle-right"></i>TriDri</a></li>
                                                <li><a href="index.html?brand:JustPolos"><i class="fa fa-angle-right"></i>JustPolos</a></li>-->

                                                <!--BAndCCollection	B&C Collection
                                                JamesAndNicholson	James & Nicholson
                                                MyrtleBeach	Myrtle Beach
                                                Stedman	Stedman
                                                Bella+Canvas	Bella + Canvas
                                                Russell	Russell
                                                RussellCollection	Russell Collection
                                                RussellWorkwear	Russell Workwear
                                                FruitoftheLoom	Fruit of the Loom
                                                TEEJAYS	TEE JAYS
                                                ResultHeadwear	Result Headwear
                                                Spiro	Spiro
                                                Result	Result
                                                Atlantis	Atlantis
                                                Karlowsky	Karlowsky
                                                Promodoro	Promodoro
                                                Continental	Continental
                                                EarthPositive	EarthPositive
                                                Fare	Fare
                                                Halfar	Halfar
                                                TheOneTowelling	The One Towelling
                                                WestfordMill	Westford Mill
                                                Quadra	Quadra
                                                BagBase	BagBase
                                                Mantis	Mantis
                                                Babybugz	Babybugz
                                                HRM	HRM
                                                Korntex	Korntex
                                                Extras	Extras
                                                Kataloge	Kataloge-->


                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="submenu-links-line">
                                    <div class="submenu-links-line-container">
                                        <div class="cell-view">
                                            <div class="line-links"><b><a href="index.html"><i class="fa fa-chevron-circle-right" aria-hidden="true"></i>{{'see all brands' | translate}}</a></b></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class="simple-list">
                            <a href="#" class="text-uppercase">{{'gender' | translate}}</a><i class="fa fa-chevron-down"></i>
                            <div class="submenu">
                                <ul class="simple-menu-list-column">
                                    <li><a href="index.html?gender=UnisexClothing"><i class="fa fa-angle-right"></i>{{'unisex clothing' | translate}}</a></li>
                                    <li><a href="index.html?gender=MensClothing"><i class="fa fa-angle-right"></i>{{'mens clothing' | translate}}</a></li>
                                    <li><a href="index.html?gender=WomensClothing"><i class="fa fa-angle-right"></i>{{'womens clothing' | translate}}</a></li>
                                    <li><a href="index.html?gender=ChildrensClothing"><i class="fa fa-angle-right"></i>{{'ChildrensClothing' | translate}}</a></li>
                                </ul>
                            </div>
                        </li>
                        <li class="column-1">
                            <a href="index.html?isnew=1" class="text-uppercase">{{'new models' | translate}}</a>
                        </li>
                        <li class="column-1">
                            <a href="index.html?outlet=1" class="text-uppercase">{{'on sale' | translate}}</a>
                        </li>
                        <li class="simple-list">
                            <a href="printing.html" class="text-uppercase">{{'printing' | translate}}</a>
                        </li>
                        <li class="simple-list">
                            <a href="info.html" class="text-uppercase">{{'info' | translate}}</a><i class="fa fa-chevron-down"></i>
                            <div class="submenu">
                                <ul class="simple-menu-list-column">
                                    <li><a href="about-us.html"><i class="fa fa-angle-right"></i>{{'about us' | translate}}</a></li>
                                    <li><a href="contact-us.html"><i class="fa fa-angle-right"></i>{{'contact us' | translate}}</a></li>
                                    <li><a href="loyalty-program.html"><i class="fa fa-angle-right"></i>{{'loyalty program' | translate}}</a></li>
                                    <li><a href="terms-of-service.html"><i class="fa fa-angle-right"></i>{{'terms of service' | translate}}</a></li>
                                </ul>
                            </div>
                        </li>
                        <li class="simple-list pull-right">
                            <a ng-if="!u.userId" href="login.html"><i class="fa fa-sign-up"></i>{{'login' | translate}}</a>
                            <a ng-if="u.userId" href="user.html" class="text-uppercase"><i class="fa fa-user"></i> {{u.firstName}}</a><i ng-if="u.userId" class="fa fa-chevron-down"></i>
                            <div class="submenu">
                                <ul class="simple-menu-list-column">
                                    <li ng-if="u.userId"><a href="user.html" class="text-uppercase"><i class="fa fa-list-ul"></i>{{'user pages' | translate}}</a></li>
                                    <li ng-if="u.userId"><a href="" ng-click="logout()" class="text-uppercase"><i class="fa fa-sign-out"></i>{{'logout' | translate}}</a></li>
                                </ul>
                            </div>
                        </li>
                    </ul>
 
                    <div class="clear"></div>

                    <a href="index.html" class="fixed-header-visible additional-header-logo"> <img src="assets/img/{{config.logo}}" alt="" /></a>
                </nav>
                <div class="navigation-footer responsive-menu-toggle-class">
                    <div class="navigation-copyright">{{'created with' | translate}} <i class="fa fa-heart" aria-hidden="true"></i> {{'by' | translate}} <a href="https://www.igprog.hr">IG PROG</a> {{'and' | translate}} <a href="https://www.studio-lateralus.hr">LATERALUS J.D.O.O.</a> {{'all rights reserved' | translate}}</div>
                </div>
            </div>
        </div>
    </header>
    <div class="clear"></div>
</div>

<script src="../assets/js/vendor/global.js"></script>