<div class="information-blocks">
    <div class="column-article-wrapper">
        <div class="row nopadding">
            <div class="col-sm-4 information-entry left-border nopadding">
                <div class="column-article-entry">
                    <h1><a href="about-us.html">{{'about us' | translate}}</a></h1>
                    <div class="description">{{'info about us' | translate}}</div>
                </div>
            </div>
            <div class="col-sm-4 information-entry left-border nopadding">
                <div class="column-article-entry">
                    <h1><a href="contact-us.html">{{'contact us' | translate}}</a></h1>
                    <div class="description">{{'info contact us' | translate}}</div>
                </div>
            </div>
            <div class="col-sm-4 information-entry left-border nopadding">
                <div class="column-article-entry">
                    <h1><a href="loyalty-program.html">{{'loyalty program' | translate}}</a></h1>
                    <div class="description">{{'info loyalty program' | translate}}</div>
                </div>
            </div>
        </div>
    </div>
</div>