    <!--ZAŠTO KUPOVATI NA PROMO-TEKSTILU?-->

<div class="information-blocks">
    <div class="row">
        <div class="col-md-12 information-entry">
            <div class="article-container style-1">
                <h2>{{'why shop' | translate}}</h2>
            </div>
        </div>
    </div>
</div>

<div class="information-blocks">
    <div class="column-article-wrapper">
        <div class="row nopadding">
            <div class="col-sm-3 information-entry left-border nopadding">
                <div class="column-article-entry">
                    <h2 style="text-align:center; font-size:20px">{{'lowest prices' | translate}}</h2>
                    <img src="assets/img/various/niske_cijene.svg" class="img-responsive m10" alt="Najniže cijene" />
                </div>
            </div>
            <div class="col-sm-3 information-entry left-border nopadding">
                <div class="column-article-entry">
                    <h2 style="text-align:center; font-size:20px">{{'great offerings' | translate}}</h2>
                    <img src="assets/img/various/velik_izbor.svg" class="img-responsive m10" alt="Veliki izbor" />

                </div>
            </div>
            <div class="col-sm-3 information-entry left-border nopadding">
                <div class="column-article-entry">
                    <h2 style="text-align:center; font-size:20px">{{'free delivery' | translate}}</h2>
                    <img src="assets/img/various/besplatna_dostava.svg" class="img-responsive m10" alt="Besplatna dostava iznad 1000kn" />

                </div>
            </div>
            <div class="col-sm-3 information-entry left-border nopadding">
                <div class="column-article-entry">
                    <h2 style="text-align:center; font-size:20px">{{'loyalty program' | translate}}</h2>
                    <img src="assets/img/various/vjernost.svg" class="img-responsive m10" alt="Program vjernosti" />

                </div>
            </div>
        </div>
        <div class="row nopadding">
            <div class="col-sm-3 information-entry left-border nopadding">
                <div class="column-article-entry">
                    <h2 style="text-align:center; font-size:20px">{{'user support' | translate}}</h2>
                    <img src="assets/img/various/korisnicka.svg" class="img-responsive m10" alt="Korisnička podrška" />
                </div>
            </div>
            <div class="col-sm-3 information-entry left-border nopadding">
                <div class="column-article-entry">
                    <h2 style="text-align:center; font-size:20px">{{'direct from supplier' | translate}}</h2>
                    <img src="assets/img/various/direct.svg" class="img-responsive m10" alt="Direktno od dobavljača" />

                </div>
            </div>
            <div class="col-sm-3 information-entry left-border nopadding">
                <div class="column-article-entry">
                    <h2 style="text-align:center; font-size:20px">{{'promotions sales' | translate}}</h2>
                    <img src="assets/img/various/promocije.svg" class="img-responsive m10" alt="Outlet rasprodaje" />

                </div>
            </div>
            <div class="col-sm-3 information-entry left-border nopadding">
                <div class="column-article-entry">
                    <h2 style="text-align:center; font-size:20px">{{'safe shopping' | translate}}</h2>
                    <img src="assets/img/various/lock.svg" class="img-responsive m10" alt="Program vjernosti" />

                </div>
            </div>
        </div>
    </div>
</div>

<!--PROGRAM VJERNOSTI-->

<div class="information-blocks">
    <div class="row">
        <div class="col-md-12 information-entry">
            <div class="article-container style-1">
                <h2>{{'loyalty program' | translate}}</h2>
                <div class="footer-description">{{'loyalty description' | translate}}</div>
            </div>
        </div>
    </div>
</div>

<div class="information-blocks">
    <div class="column-article-wrapper">
        <div class="row nopadding">
            <div class="col-sm-4 information-entry left-border nopadding">
                <div class="column-article-entry">
                    <h2 style="text-align:center; font-size:20px">{{'bronze' | translate}} - {{'five discount' | translate}}</h2>
                    <img src="assets/img/various/broncana_kartica_promo_tekstil.png" class="img-responsive m10" alt="Brončana kartica - Program vjernosti" />
                </div>
            </div>
            <div class="col-sm-4 information-entry left-border nopadding">
                <div class="column-article-entry">
                    <h2 style="text-align:center; font-size:20px">{{'silver' | translate}} - {{'ten discount' | translate}}</h2>
                    <img src="assets/img/various/srebrna_kartica_promo_tekstil.png" class="img-responsive m10" alt="Srebrna kartica - Program vjernosti" />
                </div>
            </div>
            <div class="col-sm-4 information-entry left-border nopadding">
                <div class="column-article-entry">
                    <h2 style="text-align:center; font-size:20px">{{'gold' | translate}} - {{'fifteen discount' | translate}}</h2>
                    <img src="assets/img/various/zlatna_kartica_promo_tekstil.png" class="img-responsive m10" alt="Zlatna kartica - Program vjernosti" />
                </div>
            </div>
        </div>
    </div>
</div>
