<div class="content-push" ng-controller="shopCtrl">
    <span class="pull-right text-primary text-bold" title="{{config.debug?(d.response | json):''}}">{{'loading time' | translate}} {{d.response.responseTime | number:2}} s</span>
    <div class="breadcrumb-box">
        <a href="index.html"><span class="text-capitalize">{{'home' | translate}}</span></a>
        <a href="#"><span class="text-capitalize">{{current | translate}}</span></a>
    </div>
    <div class="information-blocks" style="margin:0">
        <div class="row">
                <div class="col-md-3 col-sm-4 blog-sidebar">
                    <div class="information-blocks categories-border-wrapper" style="margin:0">
                        <form>
                            <div class="input-group" style="margin-bottom:15px">
                                <input ng-model="searchQuery" type="text" class="form-control" placeholder="{{'search for' | translate}}">
                                <span class="input-group-btn">
                                    <button class="btn btn-primary" type="submit" ng-click="search()"><span class="fa fa-search"></span></button>
                                </span>
                            </div>
                        </form>
                        <div class="visible-xs">
                            <a href="" ng-click="showFilters()">{{'filters' | translate}} <i class="fa fa-angle-{{displayFilters?'up':'down'}}" aria-hidden="true"></i></a>
                        </div>
                        <div class="{{displayFilters?'':'hidden-xs'}}">
                            <div ng-show="filters" class="information-blocks well" style="margin:0">
                                <button class="btn btn-default btn-block" ng-click="clearFilters()"><span class="text-uppercase text-primary"><i class="fa fa-trash-o"></i> {{'clear filters' | translate}}</span></button>
                                <div style="padding-top:5px">
                                    <label ng-show="x.isselected==true" class="checkbox-entry" ng-repeat="x in d.distinct.gender">
                                        <input ng-model="x.isselected" type="checkbox" ng-click="setFilter(show)" /> <span class="check"></span> {{x.code | translate}}
                                    </label>
                                    <label ng-show="x.isselected==true" class="checkbox-entry" ng-repeat="x in d.distinct.size">
                                        <input ng-model="x.isselected" type="checkbox" ng-click="setFilter(show)" /> <span class="check"></span> {{x.title}}
                                    </label>
                                    <label ng-show="x.isselected==true" class="checkbox-entry" ng-repeat="x in d.distinct.brand">
                                        <input ng-model="x.isselected" type="checkbox" ng-click="setFilter(show)" /> <span class="check"></span> {{x.title}}
                                    </label>
                                    <label ng-show="x.isselected==true" class="checkbox-entry" ng-repeat="x in d.distinct.colorGroup">
                                        <input ng-model="x.isselected" type="checkbox" ng-click="setFilter(show)" /> <span class="check"></span> {{x.colorfamily_en}} <span style="background-color: {{x.colorfamily_en}}">&nbsp;&nbsp;</span>
                                    </label>
                                </div>
                            </div>
                            <div class="information-blocks" style="margin:0;">
                                <div class="inline-text accordeon-title">{{'categories' | translate}}</div>
                                <div class="accordeon accordeon-entry" style="display:block">
                                    <div ng-repeat="x in categories | orderBy: 'order'">
                                        <div class="{{x.code==category?'bg-primary':''}}" ng-click="changeCategory('index.html?category=' + x.code)" style="padding:10px"><a href="" style="{{x.code==category?'color:white !important':''}}">{{x.title | translate}} <span class="pull-right">({{x.count}})</span></a></div>
                                        <!--<div class="{{x.code==category?'bg-primary':''}}" ng-click="changeCategory('index.html?category=' + x.code + '&page=' + page)" style="padding:10px"><a href="" style="{{x.code==category?'color:white !important':''}}">{{x.title | translate}} <span class="pull-right">({{x.count}})</span></a></div>-->
                                    </div>
                                </div>
                            </div>
                            <div class="information-blocks" style="margin:0">
                                <div class="inline-text accordeon-title" ng-click="getDistinctFilters()">{{'filter by gender' | translate}}</div>
                                <div ng-if="loading_f" class="text-center">
                                    <i class="fa fa-spinner fa-2x fa-spin text-info"></i>
                                </div>
                                <div class="range-wrapper accordeon-entry">
                                    <label class="checkbox-entry" ng-repeat="x in d.distinct.gender">
                                        <input ng-model="x.isselected" type="checkbox" ng-click="setFilter(show)" /> <span class="check"></span> {{x.code | translate}}
                                    </label>
                                </div>
                            </div>
                            <!--<div class="information-blocks" style="margin:0">
                                <div class="inline-text accordeon-title" ng-click="getDistinctFilters()">{{'filter by price' | translate}}</div>
                                <div ng-if="loading_f" class="text-center">
                                    <i class="fa fa-spinner fa-2x fa-spin text-info"></i>
                                </div>
                                <div class="range-wrapper accordeon-entry">
                                    <input ng-model="filter.price" type="range" min="0" max="{{d.response.maxPrice}}" value="{{filter.price}}" style="background-color:lightgray">
                                    <button ng-click="setFilter(show)">x</button>
                                    <div class="range-price">
                                        {{'price' | translate}}:
                                        <div class="min-price"><b><span ng-if="config.currency.symbol!=''">{{config.currency.symbol}}</span><span ng-if="config.currency.symbol==''" class="text-uppercase">{{config.currency.code}}</span> <span>0</span></b></div>
                                        <b>-</b>
                                        <div class="max-price"><b><span ng-if="config.currency.symbol!=''">{{config.currency.symbol}}</span><span ng-if="config.currency.symbol==''" class="text-uppercase">{{config.currency.code}}</span> <span>{{filter.price*config.currency.course | number:2}}</span></b></div>
                                    </div>
                                </div>
                            </div>-->
                            <!--<div class="information-blocks" style="margin:0">
                                <div class="inline-text accordeon-title" ng-click="getDistinctFilters()">{{'filter by sizes' | translate}}</div>
                                <div ng-if="loading_f" class="text-center">
                                    <i class="fa fa-spinner fa-2x fa-spin text-info"></i>
                                </div>
                                <div class="row accordeon-entry">
                                    <label class="checkbox-entry col-xs-6" ng-repeat="x in d.distinct.size">
                                        <input ng-model="x.isselected" type="checkbox" ng-click="setFilter(show)" /> <span class="check"></span> {{x.title}}
                                    </label>
                                </div>
                            </div>-->
                            <div class="information-blocks" style="margin:0">
                                <div class="inline-text accordeon-title" ng-click="getDistinctFilters()">{{'filter by brands' | translate}}</div>
                                <div ng-if="loading_f" class="text-center">
                                    <i class="fa fa-spinner fa-2x fa-spin text-info"></i>
                                </div>
                                <div class="range-wrapper accordeon-entry">
                                    <label class="checkbox-entry" ng-repeat="x in d.distinct.brand">
                                        <input ng-model="x.isselected" type="checkbox" ng-click="setFilter(show)" /> <span class="check"></span> {{x.title}}
                                    </label>
                                </div>
                            </div>
                            <!--<div class="information-blocks" style="margin:0">
                                <div class="inline-text accordeon-title" ng-click="getDistinctFilters()">{{'filter by colours' | translate}}</div>
                                <div ng-if="loading_f" class="text-center">
                                    <i class="fa fa-spinner fa-2x fa-spin text-info"></i>
                                </div>
                                <div class="color-selector detail-info-entry accordeon-entry">
                                    <div style="background-color: {{x.colorfamily_en}};" class="entry {{x.isselected?'active':''}}" ng-repeat="x in d.distinct.colorGroup" ng-click="colorFilter(x)"></div>
                                    <div class="spacer"></div>
                                </div>
                            </div>-->
                        </div>
                    </div>
                </div>

                <div class="col-md-9 col-sm-8">
                    <div class="page-selector">
                        <div ng-if="d.products.length>0" class="pages-box">
                            <a ng-if="page>5" href="#" class="square-button" ng-click="setPage(page-1)"><i class="fa fa-angle-left"></i></a>
                            <a ng-if="x>page-5" href="#" ng-repeat="x in pages | limitTo : page<5?5:page+1" class="square-button {{page==x?'active':''}}" ng-click="setPage(x)">{{x}}</a>
                            <a ng-if="pages.length>5&&page<pages.length" href="#" class="square-button" ng-click="setPage(page+1)"><i class="fa fa-angle-right"></i></a>
                        </div>
                        <div class="shop-grid-controls">
                            <div class="entry">
                                <div class="inline-text">{{'sort by' | translate}}</div>
                                <div class="simple-drop-down">
                                    <select ng-model="sort" ng-change="setFilter(show)">
                                        <option value="price">{{'price_sort' | translate}}</option>
                                        <option value="shortdesc_en">{{'title_sort' | translate}}</option>
                                        <option value="brand">{{'brand_sort' | translate}}</option>
                                    </select>
                                </div>
                                <div class="fa fa-arrow-{{sortOrder=='ASC'?'up':'down'}} cursor" ng-click="setSortOrder()"></div>
                            </div>
                            <div class="entry">
                                <div class="view-button active grid"><i class="fa fa-th"></i></div>
                                <div class="view-button list"><i class="fa fa-list"></i></div>
                            </div>
                            <div class="entry">
                                <div class="inline-text text-capitalize">{{'show' | translate}}</div>
                                <div class="simple-drop-down" style="width: 75px;">
                                    <select ng-model="show" ng-change="setFilter(show)">
                                        <option ng-selected="{{show==8?true:false}}">8</option>
                                        <option ng-selected="{{show==12?true:false}}">12</option>
                                        <option ng-selected="{{show==16?true:false}}">16</option>
                                        <option ng-selected="{{show==32?true:false}}">32</option>
                                        <option ng-selected="{{show==64?true:false}}">64</option>
                                    </select>
                                </div>
                                <div class="inline-text">{{'per page' | translate}}</div>
                            </div>
                        </div>
                        <div class="clear"></div>
                    </div>
                    <div ng-if="isloading" class="text-center mt60">
                        <i class="fa fa-spinner fa-5x fa-spin text-info"></i>
                    </div>
                    <div ng-if="!isloading">
                        <div class="row shop-grid grid-view">
                            <div ng-if="d.products.length==0" class="alert alert-danger">
                                {{'there are no products available with the selected filetrs' | translate}}
                            </div>
                            <!--<div ng-if="x.price_min.net <= filter.price && d.products.length>0" class="col-md-3 col-sm-4 shop-grid-item" ng-repeat="x in d.products track by $index">-->
                            <div ng-if="d.products.length>0" class="col-md-3 col-sm-4 shop-grid-item" ng-repeat="x in d.products track by $index">
                                <div ng-if="x.outlet==1" class="product-image-label type-2"><span>{{'outlet' | translate}}</span></div>
                                <div ng-if="x.isnew==1" class="product-image-label type-1"><span>{{'new' | translate}}</span></div>
                                <div class="product-slide-entry shift-image">
                                    <a href="product.html?style={{x.style}}">
                                        <div class="product-image">
                                            <div ng-if="x.supplier!=='lacuna'">
                                                <img check-image ng-if="x.imageurl" ng-src="{{x.imageurl}}" alt="" class="img-resize" />
                                            </div>
                                            <div ng-if="x.supplier==='lacuna'">
                                                <img check-image ng-if="x.imageurl" src="{{x.imageurl}}" alt="" class="img-resize" />
                                            </div>

                                            <!--OLD-->
                                            <!--<div ng-if="x.supplier!=='lacuna'">
                                            <img check-image ng-if="x.modelimageurl!=null" ng-src="{{x.modelimageurl}}" alt="" class="img-resize" />
                                            <div ng-if="x.modelimageurl==null && x.packshotimageurl!=null && x.packshotimageurl.length>1">
                                                <img check-image ng-if="x.packshotimageurl.length>0" ng-src="{{x.packshotimageurl[0]}}" alt="" />
                                                <img check-image ng-if="x.packshotimageurl.length==1" ng-src="{{x.packshotimageurl[0]}}" alt="" />
                                                <img check-image ng-if="x.packshotimageurl.length>1" ng-src="{{x.packshotimageurl[1]}}" alt="" />
                                            </div>
                                            </div>
                                            <div ng-if="x.supplier=='lacuna'">
                                                <img check-image ng-if="x.modelimageurl!=null" src="{{x.modelimageurl}}" alt="" class="img-resize" />
                                                <div ng-if="x.modelimageurl==null && x.packshotimageurl!=null && x.packshotimageurl.length>1">
                                                    <img check-image ng-if="x.packshotimageurl.length>0" src="{{x.packshotimageurl[0]}}" alt="" />
                                                    <img check-image ng-if="x.packshotimageurl.length==1" src="{{x.packshotimageurl[0]}}" alt="" />
                                                    <img check-image ng-if="x.packshotimageurl.length>1" src="{{x.packshotimageurl[1]}}" alt="" />
                                                </div>
                                            </div>-->


                                        </div>
                                    </a>
                                    <a href="product.html?style={{x.style}}">
                                        <label ng-show="shortdesc(x, config.language.code)" class="title">{{shortdesc(x, config.language.code)}}</label>
                                        <label>{{x.brand}} {{x.style}}</label>
                                    </a>
                                    <a class="tag" href="index.html?gender={{x.gender_code}}"><span style="font-weight:bold">{{x.gender_code | translate}}</span></a>
                                    <a href="product.html?style={{x.style}}">
                                        <div class="article-container style-1">
                                            <label ng-repeat="y in longdesc(x, config.language.code) track by $index">{{y}}</label>
                                        </div>
                                        <div class="price">
                                            <div style="padding:2px">MPC {{'from' | translate}}: <span>{{x.price_min.gross * config.currency.course | number:2}}</span> <span ng-if="config.currency.symbol!=''">{{config.currency.symbol}}</span><span ng-if="config.currency.symbol==''" class="text-uppercase">{{config.currency.code}}</span></div>
                                            <div class="current" style="padding:2px">VPC {{'from' | translate}}: <span>{{x.price_min.net * config.currency.course | number:2}}</span> <span ng-if="config.currency.symbol!=''">{{config.currency.symbol}}</span><span ng-if="config.currency.symbol==''" class="text-uppercase">{{config.currency.code}}</span></div>
                                        </div>
                                    </a>
                                </div>
                                <div class="clear"></div>
                            </div>
                            </div>
                        <div ng-if="d.products.length>0" class="page-selector">
                            <div class="description"><span class="text-capitalize">{{'showing' | translate}}</span>: {{show*page-show +1}}-{{page*show}} <span>{{'of' | translate}}</span> {{d.response.count}}</div>
                            <div class="pages-box">
                                <div ng-if="d.products.length>0" class="pages-box">
                                    <a ng-if="page>5" href="#" class="square-button" ng-click="setPage(page-1)"><i class="fa fa-angle-left"></i></a>
                                    <a ng-if="x>page-5" href="#" ng-repeat="x in pages | limitTo : page<5?5:page+1" class="square-button {{page==x?'active':''}}" ng-click="setPage(x)">{{x}}</a>
                                    <a ng-if="pages.length>5&&page<pages.length" href="#" class="square-button" ng-click="setPage(page+1)"><i class="fa fa-angle-right"></i></a>
                                </div>
                            </div>
                            <div class="clear"></div>
                        </div>
                    </div>
                </div>

            </div>
    </div>
    <pre ng-if="config.debug">products: {{d.products}}</pre>
    <pre ng-if="config.debug">distinct: {{d.distinct}}</pre>
    <pre ng-if="config.debug">categories: {{categories}}</pre>
</div>

    <script type="text/javascript">
    //accordeon
    $('.accordeon-title').on('click', function () {
        $(this).toggleClass('active');
        $(this).next().slideToggle();
    });

    //shop - view button
    $('.view-button.grid').click(function () {
        if ($(this).hasClass('active')) return false;
        $('.shop-grid').fadeOut(function () {
            $('.shop-grid').removeClass('list-view').addClass('grid-view');
            $(this).fadeIn();
        });
        $(this).parent().find('.active').removeClass('active');
        $(this).addClass('active');
    });

    $('.view-button.list').click(function () {
        if ($(this).hasClass('active')) return false;
        $('.shop-grid').fadeOut(function () {
            $('.shop-grid').removeClass('grid-view').addClass('list-view');
            $(this).fadeIn();
        });
        $(this).parent().find('.active').removeClass('active');
        $(this).addClass('active');
    });
</script>
