.mt5 {
    margin-top: 5px;
}

.mt20 {
    margin-top: 20px;
}

.mt60 {
    margin-top: 60px;
}

.pl5 {
    padding-left: 5px;
}

.p10 {
    padding: 10px
}

.m10 {
    margin: 10px;
}

.cursor {
    cursor: pointer;
}

.nowrap {
    white-space: nowrap;
}



