.mt5 {
    margin-top: 5px;
}

.mt20 {
    margin-top: 20px;
}

.mt60 {
    margin-top: 60px;
}

.pl5 {
    padding-left: 5px;
}

.p10 {
    padding: 10px
}

.pt10 {
    padding-top: 10px
}

.m10 {
    margin: 10px;
}

.cursor {
    cursor: pointer;
}

.nowrap {
    white-space: nowrap;
}

fieldset.fieldset-border {
    padding: 1em 1.4em 1.4em 1.4em !important;
    margin: 0 0 1.5em 0 !important;
    -webkit-box-shadow:  0px 0px 0px 0px #000;
    box-shadow:  0px 0px 0px 0px #000;
    border-radius: 5px !important;
    border: solid 1px #e6e6e6 !important;
}

legend.fieldset-border {
    font-size: 1em !important;
    width:auto;
    padding:10px 10px;
    border-bottom:none;
}

.img-resize {
    height: 288px !important;
    object-fit: cover !important;
    object-position: top center !important;
}





